{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}

{% block body %}
    <main class="containerProfil container">
        <div class="partleftmobile">
            <div class="pseudocercle">
                <div id="cercle">
                    <img src="{{ asset('img/profile/' ~ user.getImage()) }}" alt="">

                </div>
                <p>{{ app.user.username }}</p>
            </div>

            <div class="annee">
                <p>Année d'étude: {{ app.user.getStudyYear() }}</p>
                <div class="discord">
                    <p>Discord : {{ app.user.getDiscordTag() }}</p>
                    <a href=""><i class="fab fa-discord"></i></a>
                </div>
            </div>
        </div>
        <div class="buttonmobile">
            <a href="{{ path('edit_profile') }}">Modifier</a>
            <div class="darkMode">
                <!-- bouton pour le dark mode -->
                <button class="darkModeBtn">DARK MODE</button>
            </div>
        </div>


        <div class="Partleft">
            <div id="cercle">
                <img src="{{ asset('img/profile/' ~ user.getImage()) }}" alt="">
            </div>
            <div class="pseudo">{{ app.user.username }}</div>
            <div class="annee">
                <p>Année d'étude: {{ app.user.getStudyYear() }}</p>
                <div class="discord">
                    <p>Discord : {{ app.user.getDiscordTag() }}</p>
                    <a href=""><i class="fab fa-discord"></i></a>
                </div>
            </div>
            <a class="editProfil" href="{{ path('edit_profile') }}">Modifier</a>

            <!-- bouton pour le dark mode -->

            <button class="darkModeBtn">DARK MODE</button>

        </div>
        <div class="partright">
            <section>
                <div class="propos">
                    <p class="titreapropos">Statut :</p>
                    <p class="moretexte">{{ app.user.getStatus() }}</p>
                    <a href=""><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></a>

                </div>
            </section>
            <div class="languagessuccesmobile">
{#                <section class="languagesmobile">#}
{#                    <div>#}
{#                        <p>Langages favoris: </p>#}
{#                        <div class="html">#}
{#                            <p>HTML</p>#}
{#                            <a href=""><i class="fa fa-html5 fa-1x" aria-hidden="true"></i></a>#}
{#                        </div>#}
{#                        <div class="css">#}
{#                            <p>CSS</p>#}
{#                            <a href=""><i class="fa fa-css3" aria-hidden="true"></i></a>#}
{#                        </div>#}
{#                        <div class="js">#}
{#                            <p>JavaScript</p>#}
{#                            <a href=""><i class="fab fa-js fa-1x"></i></a>#}
{#                        </div>#}
{#                        <div class="php">#}
{#                            <p>php</p>#}
{#                            <a href=""><i class="fab fa-php fa-1x"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </section>#}
                <section class="Succesmobile">
                    <div>
                        <p>Succès: </p>

                        {%  if app.user.getImage() != null %}
                            <div>
                                Profil avec photo validé
                            </div>
                        {% endif %}

                        <div class="comment">
                            <div>
                                <p>Réponses données : {{ answersCount }}</p>
                                {%  if answersCount > 1 and answersCount < 5 %}
                                    <p>Niveau 1</p>
                                {%  elseif answersCount > 5 and answersCount < 10 %}
                                    <p>Niveau 2</p>
                                {%  elseif answersCount > 10 %}
                                    <p>Niveau 3</p>
                                {% endif %}
                            </div>
                        </div>

                        <div>
                            <p>Questions posées : {{ myQuestions | length }}</p>
                            {%  if myQuestions | length > 1 and myQuestions | length < 5 %}
                                <p>Niveau 1</p>
                            {%  elseif myQuestions | length > 5 and myQuestions | length < 10 %}
                                <p>Niveau 2</p>
                            {%  elseif myQuestions | length > 10 %}
                                <p>Niveau 3</p>
                            {% endif %}
                        </div>

                        <div>
                            <p>Likes donnés : {{ myLikes | length }}</p>

                            {%  if myLikes | length > 1 and myLikes | length < 5 %}
                                <p>Niveau 1</p>
                            {%  elseif myLikes | length > 5 and myLikes | length < 10 %}
                                <p>Niveau 2</p>
                            {%  elseif myLikes | length > 10 %}
                                <p>Niveau 3</p>
                            {% endif %}
                        </div>

                        <div>
                            <p>Likes reçus : {{ likesOnMe }}</p>

                            {%  if likesOnMe > 1 and likesOnMe < 5 %}
                                <p>Niveau 1</p>
                            {%  elseif likesOnMe > 5 and likesOnMe < 10 %}
                                <p>Niveau 2</p>
                            {%  elseif likesOnMe > 10 %}
                                <p>Niveau 3</p>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
            {#
            {#            <section class="languages">#}
{#                <div>#}
{#                    <p>Langages favoris: </p>#}
{#                    <p>HTML</p>#}
{#                    <a href=""><i class="fa fa-html5 fa-1x" aria-hidden="true"></i></a>#}
{#                    <div class="css">#}
{#                        <p>CSS</p>#}
{#                        <a href=""><i class="fa fa-css3" aria-hidden="true"></i></a>#}
{#                    </div>#}
{#                    <div class="js">#}
{#                        <p>JavaScript</p>#}
{#                        <a href=""><i class="fab fa-js fa-1x"></i></a>#}
{#                    </div>#}
{#                    <div class="php">#}
{#                        <p>php</p>#}
{#                        <a href=""><i class="fab fa-php fa-1x"></i></a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
            <section class="Succes">
                <div>
                    <p>Succès: </p>

                    {%  if app.user.getImage() != null %}
                        <div>
                            Profil avec photo validé
                        </div>
                    {% endif %}

                    <div class="comment">
                        <div>
                            <p>Réponses données : {{ answersCount }}</p>
                            {%  if answersCount > 1 and answersCount < 5 %}
                                <p>Niveau 1</p>
                            {%  elseif answersCount > 5 and answersCount < 10 %}
                                <p>Niveau 2</p>
                            {%  elseif answersCount > 10 %}
                                <p>Niveau 3</p>
                            {% endif %}
                        </div>
                    </div>

                    <div>
                        <p>Questions posées : {{ myQuestions | length }}</p>
                        {%  if myQuestions | length > 1 and myQuestions | length < 5 %}
                            <p>Niveau 1</p>
                        {%  elseif myQuestions | length > 5 and myQuestions | length < 10 %}
                            <p>Niveau 2</p>
                        {%  elseif myQuestions | length > 10 %}
                            <p>Niveau 3</p>
                        {% endif %}
                    </div>

                    <div>
                        <p>Likes donnés : {{ myLikes | length }}</p>

                        {%  if myLikes | length > 1 and myLikes | length < 5 %}
                            <p>Niveau 1</p>
                        {%  elseif myLikes | length > 5 and myLikes | length < 10 %}
                            <p>Niveau 2</p>
                        {%  elseif myLikes | length > 10 %}
                            <p>Niveau 3</p>
                        {% endif %}
                    </div>

                    <div>
                        <p>Likes reçus : {{ likesOnMe }}</p>

                        {%  if likesOnMe > 1 and likesOnMe < 5%}
                            <p>Niveau 1</p>
                        {%  elseif likesOnMe > 5 and likesOnMe < 10 %}
                            <p>Niveau 2</p>
                        {%  elseif likesOnMe > 10 %}
                            <p>Niveau 3</p>
                        {% endif %}
                    </div>
                </div>
            </section>
            <article>
{#                <div class="hfmobile">#}
{#                    <div class="hf">#}

{#                        <div class="defis">#}
{#                            <ul>#}
{#                                <li>#}
{#                                    <p>Défis quotidien :</p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p>Répondre à deux questions</p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p>Liker une réponse</p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p>Poser une question</p>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="parse">#}
{#                            <div class="half-circle"></div>#}
{#                            <div>#}
{#                                <p>75%</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="displayblock">#}
{#                            <div class="badges">#}
{#                                <p>Mes badges</p>#}
{#                                <div class="groupicons">#}
{#                                    <div class="icons">#}

{#                                        {% if answersCount > 3  %}#}
{#                                            <div>#}
{#                                                <i class="fas fa-comment"></i>#}
{#                                            </div>#}
{#                                        {% endif %}#}

                                        {#                                        <div>#}
{#                                            <a href=""><i class="fa fa-shield fa-3x" aria-hidden="true"></i></a>#}
{#                                        </div>#}
{#                                        <div>#}
{#                                            <a href=""><i class="fa fa-heart fa-3x" aria-hidden="true"></i></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="icons2">#}
{#                                        <div>#}
{#                                            <a href=""><i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i></a>#}
{#                                        </div>#}
{#                                        <div>#}
{#                                            <a href=""><i class="fa fa-question fa-3x" aria-hidden="true"></i></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

{#                    </div>#}
{#                </div>#}
            </article>
            <article>
{#                <div class="hfweb">#}
{#                    <div class="hf">#}
{#                        <div class="parse">#}
{#                            <div class="half-circle"></div>#}
{#                            <div>#}
{#                                <p>75%</p>#}
{#                            </div>#}
{#                        </div>#}

{#                        <div class="defis">#}
{#                            <ul>#}
{#                                <li>#}
{#                                    <p>Défis quotidien :</p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p>Répondre à deux questions</p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p>Liker une réponse</p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p>Poser une question</p>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="badges">#}
{#                            <p>Mes badges</p>#}
{#                            <div class="icons">#}
{#                                {% if answersCount > 1  %}#}
{#                                    <div>#}
{#                                        <i class="fas fa-comment"></i>#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                                <div>#}
{#                                    <a href=""><i class="fa fa-shield fa-3x" aria-hidden="true"></i></a>#}
{#                                    <p>Sauveur</p>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <a href=""><i class="fa fa-heart fa-3x" aria-hidden="true"></i>#}
{#                                </a>#}
{#                                    <p>Loveur</p>#}
{#                                </div>#}

{#                                <div>#}
{#                                    <a href=""><i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i></a>#}
{#                                    <p>Helpeur</p>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <a href=""><i class="fa fa-question fa-3x" aria-hidden="true"></i></a>#}
{#                                    <p>Inspecteur</p>#}
{#                                </div>#}
{#                            </div>#}



{#                        </div>#}

{#                    </div>#}
{#                </div>#}
            </article>


            <section class="mobileSesquestions">
                <div>
                    <p class="size">Mes questions: </p>

                    {% if myQuestions|length > 0 %}
                    {% for question in myQuestions %}

                    <div class="probleme">
                        <p><a href="question.html">{{ question.getQuestionTitle() }}</a></p>
                    </div>
                    <div class="flex">
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>{{ question.getQuestionAnswers() }}</p>
                        </div>
{#                        <div class="resolu">#}
{#                            <p>{{ question.getQuestionIsResolved() }}</p>#}
{#                            <a href=""><i class="fas fa-check-circle"></i></a>#}
{#                        </div>#}
                        <div>
                            <p><a href="">Editer</a>
                            </p>
                        </div>
                        <div class="editMyQuestionMobile">
                            {% if question.getQuestionIsResolved() == false %}
                                <a href="{{ path('question_is_resolved', {'id': question.getId() }) }}">Marquer comme résolue</a>
                            {% else %}
                                <a href="{{ path('question_is_resolved', {'id': question.getId() }) }}">Marquer comme non résolue</a>
                            {% endif %}
                        </div>
                    </div>

                    {% endfor %}
                    {% else %}
                        <p>Sorry, no questions yet.</p>
                    {% endif %}
                </div>
            </section>
            <section class="Sesquestions">
                <div>
                    <p class="size">Mes questions: </p>

                    {% if myQuestions|length > 0 %}
                    {% for question in myQuestions %}

                    <div class="flex">
                        <div class="probleme">
                            <p><a href="{{ path('question', {'id': question.getId() }) }}">{{ question.getQuestionTitle() }}</a></p>
                        </div>
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>{{ question.getQuestionAnswers() }}</p>
                        </div>
{#                        <div class="resolu">#}
{#                            <p>{{ question.getQuestionIsResolved() }}</p>#}
{#                            <a href=""><i class="fas fa-check-circle"></i></a>#}
{#                        </div>#}
                        <div class="editMyQuestion">
                            <a href="{{ path('question_edit', {'id': question.getId() }) }}">Editer</a>
                        </div>

                        <div class="editMyQuestion">
                            {% if question.getQuestionIsResolved() == false %}
                                <a href="{{ path('question_is_resolved', {'id': question.getId() }) }}">Marquer comme résolue</a>
                            {% else %}
                                <a href="{{ path('question_is_resolved', {'id': question.getId() }) }}">Marquer comme non résolue</a>
                            {% endif %}
                        </div>
                    </div>

                    {% endfor %}
                    {% else %}
                        <p>Sorry, no questions yet.</p>
                    {% endif %}

                </div>
            </section>
        </div>
    </main>
{% endblock %}

