{% extends 'base.html.twig' %}

{% block title %}Sign up!{% endblock %}

{% block body %}
<br><br><br><br><br><br>
<form class="inscriptionForm">
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
</form>
<br><br><br>
<br><br><br>

{% endblock %}
