{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}

{% block javascripts %}
  <link href="{{ asset('js/highlight/styles/atom-one-dark.css') }}" type="text/css" rel="stylesheet" />

  <script src="{{ asset('js/highlight/highlight.pack.js') }}"></script>
  <script>
      hljs.initHighlightingOnLoad();
  </script> 

  <script src="{{ asset('js/displayCode.js') }}"></script>

{% endblock %}

{% block body %}
    <main class="questionPage container">
        <section class="blockQuestion">
            <div class="introBlockQuestion">
                <div>
                    <div>
                        <p>{{ question.getQuestionTitle() }}</p>
                    </div>
                    {% if questionAuthor.getImage() is not null %}
                        <img src="{{ asset('img/profile/' ~ questionAuthor.getImage()) }}" alt="">
                    {% endif %}

                    <a href="{{ path('profile', {'user': question.getQuestionAuthor() }) }}">
                        <p>{{ question.getQuestionAuthor() }}</p>
                    </a>
                    <div>
                        {% if question.getQuestionIsResolved() == false %}
                            <i class="fa fa-times" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        {% endif %}
                    </div>
                    <div>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <p>{{ question.getQuestionAnswers()}}</p>
                    </div>
                    <p>{{ question.getQuestionDate()|date("m/d/Y", "Europe/Paris")}}</p>

                </div>
{#                <div>#}
{#                    <i class="fa fa-html5" aria-hidden="true"></i>#}
{#                    <i class="fa fa-css3" aria-hidden="true"></i>#}
{#                </div>#}
            </div>

            <div class="descriptionBlockQuestion">
                <p>{{ question.getQuestionDescription()}}</p>
            </div>

            <div class="codeBlockQuestion">
                {% if question.getQuestionCode1() is not null %}
                  <div>
                      <pre><code>
                        {{ question.getQuestionCode1()}}
                      </code></pre>

                  </div>
                {% endif %}

                {% if question.getQuestionCode2() is not null%}
                  <div>
                      <pre><code>
                        {{ question.getQuestionCode2()}}

                      </code></pre>
                  </div>
                {% endif %}

                {% if question.getQuestionCode3() is not null %}
                  <div>
                      <pre><code>
                        {{ question.getQuestionCode3()}}

                        </code></pre>
                  </div>
                {% endif %}

                 {% if question.getQuestionCode4() is not null %}
                  <div>
                      <pre><code>
                        {{ question.getQuestionCode4()}}

                        </code></pre>
                  </div>
                {% endif %}

                 {% if question.getQuestionCode5() is not null %}
                  <div>
                      <pre><code>
                        {{ question.getQuestionCode5()}}

                        </code></pre>
                  </div>
                {% endif %}

            </div>

        </section>
        <!-- Meme section pour le mobile -->
        <section class="blockQuestionMobile blockQuestion">
            <div class="introBlockQuestion">
                <div>
                    <p>{{ question.getQuestionTitle() }}</p>
                    <a href="{{ path('profile', {'user': question.getQuestionAuthor() }) }}">
                        <p>{{ question.getQuestionAuthor() }}</p>
                    </a>
                </div>

                <div>
                    <p>{{ question.getQuestionDate()|date("m/d/Y", "Europe/Paris")}}</p>
                    <div>
                        {% if question.getQuestionIsResolved() == false %}
                            <i class="fa fa-times" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        {% endif %}                    </div>
{#                    <div>#}
{#                        <i class="fa fa-html5" aria-hidden="true"></i>#}
{#                        <i class="fa fa-css3" aria-hidden="true"></i>#}
{#                    </div>#}
                </div>
            </div>

            <div class="descriptionBlockQuestion">
                <p>{{ question.getQuestionDescription() }}</p>
            </div>
            {# <div class="codeBlockQuestion">
                <div>
                    <button name="html">LOOK HTML</button>
                </div>
                <div>
                    <button name="css">LOOK CSS</button>
                </div>
                <div>
                    <button name="js">LOOK JS</button>
                </div>
            </div> #}
        </section>

        <article>

        {% if answers|length > 0 %}
            {% for answer in answers %}

                 <section class="blockAnswers">
                <div class="introBlockQuestion">
                    <div>

                        {% set hasImage = false %}
                        {% for author in authors %}
                            {% if (answer.getAnswerAuthor() == author.getUsername) and (hasImage != true) %}
                                {% set hasImage = true %}
                                <img src="{{ asset('img/profile/' ~ author.getImage()) }}" alt="">
                            {% endif %}
                        {% endfor %}

                        <a href="{{ path('profile', {'user': answer.getAnswerAuthor() }) }}">
                            <p>{{ answer.getAnswerAuthor() }}</p>
                        </a>
                        <p>Re : {{ answer.getAnswerTitle() }}</p>
                        <p>{{ answer.getAnswerDate()|date("m/d/Y", "Europe/Paris") }}</p>

                        {% if answer.getAnswerAuthor() == app.user.username%}
                            <a href="{{ path('edit_answer', {'id': answer.getId(), "questionId": question.getId() }) }}">Edit</a>
                            <a href="{{ path('delete_answer', {'id': answer.getId(), "questionId": question.getId() }) }}">Delete</a>

                        {% endif %}

                    </div>
                    <div>
                        <a href="{{ path('answer_like', {'id': answer.getId()}) }}" class="btn js-like">
                            {%  if app.user and answer.isLikedByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{ answer.answerLikes | length }}</span>
                            <span class="js-label">J'aime</span>

                        </a>
{#                        <p>{{ answer.getAnswerLikes() }}<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></p>#}

                    </div>
                </div>

                <div class="descriptionBlockQuestion">
                    <p>{{ answer.getAnswerDescription() }}
                    </p>
                </div>

                <div class="codeBlockQuestion">
                    {% if answer.getAnswerCode1() is not null %}
                        <div>
                            <pre><code>
                            {{ answer.getAnswerCode1() }}
                            </code></pre>
                        </div>
                    {% endif %}
                     {% if answer.getAnswerCode2() is not null %}
                        <div>
                            <pre><code>
                            {{ answer.getAnswerCode2() }}
                            </code></pre>
                        </div>
                    {% endif %}
                     {% if answer.getAnswerCode3() is not null %}
                        <div>
                            <pre><code>
                            {{ answer.getAnswerCode3() }}
                            </code></pre>
                        </div>
                    {% endif %}
                     {% if answer.getAnswerCode4() is not null %}
                        <div>
                            <pre><code>
                            {{ answer.getAnswerCode4() }}
                            </code></pre>
                        </div>
                    {% endif %}
                     {% if answer.getAnswerCode5() is not null %}
                        <div>
                            <pre><code>
                            {{ answer.getAnswerCode5() }}
                            </code></pre>
                        </div>
                    {% endif %}
                </div>
            </section>
            {% endfor %}
        {% else %}
        <p>Sorry, no answers yet.</p>
        {% endif %}

        </article>

        <article>
         {% if answers|length > 0 %}
            {% for answer in answers %}
            <section class="blockAnswers blockAnswersMobile">
                <div class="introBlockQuestion">
                    <div>
                        <p>Re : {{ answer.getAnswerTitle() }}</p>
                        <a href="{{ path('profile', {'user': answer.getAnswerAuthor() }) }}">
                            <p>{{ answer.getAnswerAuthor() }}</p>
                        </a>
                    </div>
                    <div>
                        <p>{{ answer.getAnswerDate()|date("m/d/Y", "Europe/Paris") }}</p>
{#                        <p>{{ answer.getAnswerLikes() }}<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></p>#}
                        {% if answer.getAnswerAuthor() == app.user.username%}
                            <a href="{{ path('edit_answer', {'id': answer.getId(), "questionId": question.getId() }) }}">Edit</a>
                            <a href="{{ path('delete_answer', {'id': answer.getId(), "questionId": question.getId() }) }}">Delete</a>

                        {% endif %}
                    </div>

                </div>

                <div class="descriptionBlockQuestion">
                    <p>{{ answer.getAnswerDescription() }}
                    </p>
                </div>
  
            </section>
          
            {% endfor %}
        {% else %}
        <p>Sorry, no answers yet.</p>
        {% endif %}
        </article>


        <!-- Pop up code en responsive mobile -->

        {# <div class="htmlCodeResponsive">
            <div>
                <button>HTML <i class="fa fa-clipboard" aria-hidden="true"></i>
                </button>
                <i class="fa fa-times fa-2x popupCloseHtml" aria-hidden="true"></i>
            </div>
            <pre><code>

        </code></pre>
        </div>
        <div class="cssCodeResponsive">
            <div>
                <button>CSS <i class="fa fa-clipboard" aria-hidden="true"></i>
                </button>
                <i class="fa fa-times fa-2x popupCloseCss" aria-hidden="true"></i>
            </div>
            <pre><code>
               
        </code></pre>
        </div>
        <div class="jsCodeResponsive">
            <div>
                <button>JS <i class="fa fa-clipboard" aria-hidden="true"></i>
                </button>
                <i class="fa fa-times fa-2x popupCloseJs" aria-hidden="true"></i>
            </div>
            <pre><code>
        </code></pre>
        </div> #}

        {% if question.getQuestionIsResolved() == false %}
            <section class="blockResponse">

                {{ render(controller(
                    'App\\Controller\\AnswersController::create', {id: question.getId()}
                ), {'request' : app.request}) }}

                {#            {{ render(path('test', {id: question.getId()})) }}#}

            </section>
        {% else %}
            <p>Cette question est déjà résolue.</p>
        {% endif %}




    </main>
{% endblock %}

{% block javascriptAjax %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        function onClickBtnLike(event){
            event.preventDefault();
            const url = this.href;
            const spanCount = this.querySelector("span.js-likes");
            const icone = this.querySelector('.fa-thumbs-up')
            axios.get(url).then(function (response){
                spanCount.textContent = response.data.likes;

                if(icone.classList.contains("fas")){
                    icone.classList.replace("fas", 'far')
                }else{
                    icone.classList.replace("far", 'fas')
                }
            }).catch(function(error){
                if(error.response.status === 403){
                    window.alert("Vous devez être connetcé pour liker une réponse")
                }else{
                    window.alert("Une erreur s'est produite, réessayez plus tard.")
                }
            })
        }
        document.querySelectorAll("a.js-like").forEach(function(link){
            link.addEventListener('click', onClickBtnLike);
        })
    </script>
{% endblock %}
