<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <script src="https://kit.fontawesome.com/9bcfa8c000.js" defer crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <nav>
            <div class="upperNav">
                <div>
                    <a href="{{ path('home') }}">LOGO</a>
                </div>


                <div>
                    {% set currentRoute = app.request.attributes.get('_route') %}
                    
                    {% if app.session.get('user').user_name is defined %}
                        <a href="{{ currentRoute }}/deconnection">Deconnexion</a>
                        <a>{{ app.session.get('user').user_name }}</a>

                    {% else %}
                        <a id="myBtn2" href="{{ currentRoute }}/sign_in">Connexion</a>
                        <a id="myBtn" href="{{ currentRoute }}/sign_up">Inscription</a>  
                    {% endif %}
   
                    {% if userForm is defined %}
                        <!-- Fond gris du popup -->
                        <div id="myModal" class="Hmodal">
                            <!-- Contenu du popup -->
                            <div class="modal-content">
                                <a href="../{{ path }}"><span class="close">&times;</span></a>
        
                                {{ form_start(userForm) }} 
                                {{ form_widget(userForm) }}    
                                <input type="submit" value="Sign Up">
                                {{ form_end(userForm) }}     
                                <a href="../{{ path }}/sign_in">Go sign In</a>  
                                           
                            </div>

                        </div>
                    {% endif %}
            
                    {% if userFormToConnect is defined %}
                    <!-- Fond gris du popup -->
                    <div id="myModal" class="Hmodal2">
                        <!-- Contenu du popup -->
                        <div class="modal-content2">
                            <a href="../{{ path }}"><span class="close">&times;</span></a>
                            <div>
                                {{ form_start(userFormToConnect) }} 
                                {{ form_widget(userFormToConnect) }}    
                                <input type="submit" value="Sign In">
                                {{ form_end(userFormToConnect) }} 
                                <a href="../{{ path }}/sign_up ">Go sign Up</a>  

                            </div>
                        </div>
                    </div>
                    {% endif %}
                
                    <a href="{{ path('profile') }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="lowerNavDesktop">
                <div>
                    <a href="{{ path('look_questions') }}">Voir les problèmes</a>
                    <a href="{{ path('ask_question') }}">Poser une question</a>
                </div>
                <form class="search">
                    <input type="search" placeholder="Rechercher" />
                    <button type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>

            <div class="lowerNavMobile">
                <div>
                    <a>Voir les problèmes</a>
                </div>
                <div>
                    <a>Poser une question</a>
                </div>
            </div>

            <!-- Menu au click sur "voir les probèmes" -->
            <div class="burger">
                <div>
                    <button>Les plus populaires</button>
                    <button>Les plus récents</button>
                    <button>Sans réponse</button>
                    <button>Langages</button>
                    <form class="search">
                        <input type="search" placeholder="Rechercher" />
                    </form>
                </div>
                <!-- Menu au click sur "Langages" -->
                <div class="langagesBurger">
                    <button>HTML</button>
                    <button>CSS</button>
                    <button>JS</button>
                    <button>php</button>
                </div>
                <div></div>
            </div>
            </nav>
        </header>

        {% block mainContent %}
        {% endblock %}

            <!-- footer desktop -->
            <footer class="footerDesktop">
                <div>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    <a href=""><i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                </div>
                <div>
                    <a href="">Mentions légales</a>
                    <a href="">Contact Admin</a>
                    <a href="">F.A.Q</a>
                </div>
            </footer>
            <!-- footer mobile -->
            <footer class="footerMobile">
                <div>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    <a href="">Mentions légales</a>
                </div>
                <div>
                    <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    <a href="">F.A.Q</a>
                </div>
                <div>
                    <a href=""><i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    <a href="">Contact Admin</a>
                </div>

            </footer>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            {% block javascripts %}{% endblock %}

    </body>
</html>
